@using Golmohammadi.Models.Models.Product
@model List<SubGroup>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-primary">
                لیست گروه فرعی ها
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="CreateSubGroup" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> ایجاد گروه فرعی
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    اسم گروه فرعی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="EditSubGroup" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="DeleteSubGroup" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash3"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

